@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Roboto&display=swap');

body {
   background-color: #F2FDFF;
   font-family: Roboto, Arial, Helvetica, sans-serif;
   font-size: 22px;
   margin: 0;
   padding: 0;
  }
#content{
   max-width: 1600px;
   margin: 0 auto; 
  }
  .logo {
   width: 80px;
}
  nav {
   background-color: #FFD400;
 } 
nav a{
  text-align: center;
  color:#1A2C85;
  text-decoration: none;
  }
nav a:hover{
   background-color:#1A2C85;
   color:#f2fdff;
   }

header {
   background-color: #1A2C85;
  }
  h2 {
   margin: 0;
}
h4{
   color: #1A2C85;
   font-family:"Josefin Sans", 'Trebuchet MS', sans-serif;
   }

.home-title{
  color: #1A2C85;
  font-family:"Josefin Sans", 'Trebuchet MS', sans-serif;
  font-size: 2em;
  }
 
.book, .join {
   background-color: #1A2C85;
   color:#f2fdff;
   text-decoration: none;
   font-size: 18px;
    }
 
.book:hover, .join:hover {
   background-color: #FFD400;
   color:#1A2C85;
  }

.msg{
   background-color: #B3001B;
   line-height: 1.5em;
  }
  
.msg h2{
   color:#FFD400;
   font-family:"Josefin Sans", 'Trebuchet MS', sans-serif;
  }
.msg p{
  color:#F2FDFF;
  font-size: .8em;
  }

footer{
   background-color:#1A2C85;
   color:#f2fdff;
   }
footer a{
text-decoration: none;
color:#f2fdff;
}
footer p {
   font-size: 1.2em;
} 
footer p a:hover {
   text-decoration: underline;
   color:#FFD400;
}      
  
#hero-img{
   width: 100%;
         }  
#hero-box h1, #hero-box h4{
   text-align: center;
   font-family:"Josefin Sans", 'Trebuchet MS', sans-serif;
   }
.button-box{
   text-align: center;
   }
main section{
   text-align: center;
   }
   
#background {
   height: 725px;
   background-color: #B3001B;
   color:#F2FDFF;
}
  
.icon {
   width: 80px;
}
                            

